# 311 All complaints data, year 2016

Retrieved from [NYC Open Data](https://data.cityofnewyork.us/Social-Services/311-Service-Requests-from-2010-to-Present/erm2-nwe9/data) 

Data were filtered to include **January 2016 and June 2016 complaints only** prior downloading, in order to estimate the number of complaints per zipcode over a year.

### * for PUI extra credit assignment, NYU CUSP, Fall 2017

In [1]:
from __future__ import print_function, division
import sys
import os
import numpy as np
import pylab as pl
import pandas as pd

In [2]:
jun311 = pd.read_csv('311_Service_Requests_from_jun16.csv')
jun311.head()

,Unique Key,Created Date,Complaint Type,Descriptor,Incident Zip,Borough,Latitude,Longitude,Location
0,33495503,06/01/2016 12:00:00 AM,Standing Water,Other - Explain Below,10312,STATEN ISLAND,40.545344,-74.160569,"(40.54534417610026, -74.16056913244108)"
1,33495502,06/01/2016 12:00:00 AM,Standing Water,Other - Explain Below,10473,BRONX,40.813512,-73.856670,"(40.81351225004374, -73.85666990869612)"
2,33495495,06/01/2016 12:00:00 AM,Standing Water,Other - Explain Below,10030,MANHATTAN,40.818012,-73.938332,"(40.81801208313926, -73.93833230335083)"
3,33495039,06/01/2016 12:00:00 AM,Standing Water,Swimming Pool Cover,11231,BROOKLYN,40.677465,-73.999567,"(40.67746454483929, -73.99956737199814)"
4,33494873,06/01/2016 12:00:00 AM,Standing Water,Tires,11416,QUEENS,40.689160,-73.842755,"(40.68915963497661, -73.84275532464596)"

In [3]:
jun311 = jun311.groupby('Incident Zip').count()
jun311 = jun311[['Unique Key']]
jun311.shape

(277, 1)

In [4]:
jan311 = pd.read_csv('311_Service_Requests_from_jan2016.csv')
jan311 = jan311.groupby('Incident Zip').count()
jan311 = jan311[['Unique Key']]
jan311.head()

/Applications/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

              Unique Key
Incident Zip
1150.0                 1
7102.0                 1
7104.0                 1
7114.0                 1
10001.0               92

In [5]:
jan311['winter'] = jan311['Unique Key']*6
jan311 = jan311[['winter']]

jun311['summer'] = jun311['Unique Key']*6
jun311 = jun311[['summer']]

year16_311 = jan311.merge(jun311, left_index=True, right_index=True)
year16_311.head()

              winter  summer
Incident Zip
00000             12      12
00083              6      54
07024              6       6
07114             84      72
07310              6       6

In [6]:
year16_311.shape

(205, 2)

In [7]:
year16_311['allcomplaints'] = year16_311['winter'] + year16_311['summer']
year16_311 = year16_311[['allcomplaints']]

year16_311.head()

              allcomplaints
Incident Zip
00000                    24
00083                    60
07024                    12
07114                   156
07310                    12

In [8]:
year16_311.to_csv('311allcomplaints.csv')